

/* Chat Container */
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 400px;
  height: 600px;
  margin: 0 auto;
  background-color: #fff; /* White background for chatbox */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 20px;
}

/* Chat Box */
.chat-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto; /* Allow scrolling */
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 10px; /* Rounded corners for chat box */
  background-color: #fafafa; /* Slight background for chat box */
}

/* Bot Message */
.bot-message {
  align-self: flex-start;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  word-wrap: break-word;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
}

/* User Message */
.user-message {
  align-self: flex-end;
  background-color: #5c0071;
  color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
  word-wrap: break-word;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
}

/* Input Container */
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

/* Chat Input */
.chat-input {
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  outline: none;
  box-sizing: border-box;
}

.chat-input:disabled {
  background-color: #f5f5f5;
  color: #777
}

/* Send Button */
.send-button {
  background-color: #8300A1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.send-button:hover:not(:disabled) {
  background-color: #5c0071;
}

.send-button:disabled {
  background-color: #939393;
  cursor: not-allowed;
}

/* Mic Button */
.mic-button {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 10px; /* To separate from the input box */
}

.mic-button img {
  width: 20px;
  height: 20px;
}

/* Mic Button Hover */
.mic-button:hover {
  background-color: #f0f0f0;
}

.mic-button.recording {
  background-color: red;
  border-radius: 50%;
}

/* Dummy Circle Button */
.dummy-circle-button {
  width: 40px;
  height: 40px;
  background-color:white; /* Green color */
  border-radius: 50%; /* Makes it a circle */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Dummy Circle Button Hover */
.dummy-circle-button:hover {
  background-color: #45a049; /* Slightly darker green */
}