input, select {
    width: 90%;
    height: 30%;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #ccc;
    font-size:large;
}

input:focus,select:focus {
    border-color: purple;
    box-shadow: 0 0 8px rgba(128, 0, 128, 0.3);
}